#blackbars {
  background-color: black;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 0;
  overflow: hidden;
}

#container
{
  background-image: url("tile.png");
  background-color: black;

  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

#pane {
  position: relative;
  width: 100%;
  height: 100%;
}

#pane > * {
  font-size: 40%;
}

#pane h1 {
  margin: 0;
  padding: 0;
}

.mdslide {
  padding: 0 3%;
}

#pane ul {
  padding-left: 5%;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

slide, iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;;
}

.noselect, .noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}